{% extends 'user_lk/Base/base_lk.html' %}
{% block title %}ChinaNear | {{ conf['orders']['titel'] }}{% endblock title %}
{% block link %}
<link defer rel="stylesheet" href="{{ url_for('static', filename='styles/order_list.css') }}">
<script defer src="{{ url_for('static', filename='scripts/orders_status.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/filter_order.js') }}"></script>
<script defer src="{{ url_for('static', filename='scripts/filter.js') }}"></script>
{% endblock link %}
{% block main %}
		<main>
			<h1>{{ conf['orders']['titel'] }}</h1>
			<hr>
			<div class="poisk_buyer">
                <input class="input-poisk" value type="search" placeholder="{{ conf['orders']['search_text'] }}"   autocomplete= "off" id="null">
                <span class="icon-poisk"><img src="{{ url_for('static', filename='img/loop.svg') }}" alt=""></span>
    		</div>
			<div class="filter">
				<div class="filter_1">
					<p>{{ conf['orders']['filter_text'] }}</p>
					<select id="offer-status">
						<option>{{ conf['orders']['o_all'] }}</option>
						<option value="New">{{ conf['orders']['o_new'] }}</option>
						<option value="ReadyForPayment">{{ conf['orders']['o_redy'] }}</option>
						<option value="AwaitingApproval">{{ conf['orders']['o_way'] }}</option>
						<option value="ReadyToShip">{{ conf['orders']['o_redy_send'] }}</option>
						<option value="Cancelled">{{ conf['orders']['o_canceled'] }}</option>
					</select>
				</div>
				<div class="filter_f">
					<div class="filter_1">
						<p>{{ conf['orders']['period_from'] }}</p>
						<input type="date" id="min-date">
					</div>
					<div class="filter_1">
						<p>{{ conf['orders']['period_to'] }}</p>
						<input type="date" id="max-date">
					</div>
				</div>
				<div class="buttons">
					<button id="apply-filters">{{ conf['orders']['apply'] }}</button>
					<button id="reset-filters">{{ conf['orders']['reset_filter'] }}</button>
				</div>
			</div>
			<div class="action">
				<div class="dropdown">
					<button class="b-action">{{ conf['orders']['action'] }}</button>
					<div class="dropdown-content-left"><a id="cancel-all">{{ conf['orders']['cancel'] }}</a></div>
				</div>
				<div class="page">
					{% if page != 1 %}
						{% if page > 1 %}
						<button class="prev-page">{{ conf['pagination']['previous'] }}</button>
						{% endif %}
						<ul class="col pages-list">
						{% if page < 4 %}
							{% if pages_count < 7 %}
								{% for i in pages_count_list %}
								<li><a href="" class="{% if i == page %} currentpage__selected {% endif %}">{{ i }}</a></li>
								{% endfor %}
							{% else %}
								{% for i in (1, 2, 3, 4) %}
								<li><a href="" class="{% if i == page %} currentpage__selected {% endif %}">{{ i }}</a></li>
								{% endfor %}
								<li>...</li>
								<li><a href="" class="">{{ pages_count_list[-1] }}</a></li>
							{% endif %}
						{% else %}
							<li><a href="" class="">{{ 1 }}</a></li>
							<li>...</li>
							<li><a href="" class="">{{ page - 1 }}</a></li>
							<li><a href="" class="currentpage__selected">{{ page }}</a></li>
							{% if page + 4 <= pages_count %}
							<li><a href="" class="">{{ page + 1 }}</a></li>
							<li>...</li>
							<li><a href="" class="">{{ pages_count_list[-1] }}</a></li>
							{% elif page + 3 == pages_count %}
							<li><a href="" class="">{{ page + 1 }}</a></li>
							<li><a href="" class="">{{ page + 2 }}</a></li>
							<li><a href="" class="">{{ pages_count_list[-1] }}</a></li>
							{% elif page + 2 == pages_count %}
							<li><a href="" class="">{{ page + 1 }}</a></li>
							<li><a href="" class="">{{ page + 2 }}</a></li>
							{% elif page + 1 == pages_count %}
							<li><a href="" class="">{{ page + 1 }}</a></li>
							{% endif %}
						{% endif %}
						</ul>
						<button class="next-page" {% if page == pages_count %} style="display: none;" {% endif %}>{{ conf['pagination']['next'] }}</button>
					{% endif %}
				</div>
			</div>
			<div class="table_product">
				<table>
					<tr>
						<th>
							<input type="checkbox" class="custom-checkbox" id="cb">
							<label for="cb"></label>
						</th>
						<th>{{ conf['orders']['t_order'] }}</th>
						<th>{{ conf['orders']['t_status'] }}</th>
						<th>{{ conf['orders']['t_create_time'] }}</th>
						<th>{{ conf['orders']['t_change_time'] }}</th>
						<th>{{ conf['orders']['t_name_count'] }}</th>
						<th>{{ conf['orders']['t_product_count'] }}</th>
						<th>{{ conf['orders']['t_seller'] }}</th>
						<th>{{ conf['orders']['t_price'] }}</th>
                        <th></th>
					</tr>
                    {% for i in offers %}
					<tr class="offer" data-date="{{ i[2] }}" data-status="{{ i[1] }}" data-id="{{ i[0] }}">
						<td>
							<input type="checkbox" class="custom-checkbox" id="cb{{i[0]}}" name="checkbox">
							<label for="cb{{i[0]}}"></label>
						</td>
						<td hidden><button><img src="{{ url_for('static', filename='img/arrow.svg') }}" alt=""></button></td>
						<td>{{ i[0] }}</td>
						<td>{{ i[1] }}</td>
						<td>{{ i[2] }}</td>
						<td>{{ i[3] }}</td>
						<td>{{ i[4] }}</td>
						<td>{{ i[5] }}</td>
						<td>{{ i[6] }}</td>
						<td>{{ i[7] }} {{ session['currency'] }}</td>
						<td>
							<div class="dropdown">
								<button data-uid="{{ i[0] }}" class="three_point"></button>
								<div id="myDropdown_four" class="dropdown-content">
 									<a class="nobgonhov" href="{{ url_for('order_detal', order_number=i[0]) }}">{{ conf['orders']['change'] }}</a>
									<button class="cancel_offer">{{ conf['orders']['cancel'] }}</button>
  								</div>
							</div>
						</td>
					</tr>
                    {% endfor %}
				</table>
			</div>
			<div class="action-bottom">
				<div class="page">
					{% if page != 1 %}
						{% if page > 1 %}
						<button class="prev-page">{{ conf['pagination']['previous'] }}</button>
						{% endif %}
						<ul class="col pages-list">
						{% if page < 4 %}
							{% if pages_count < 7 %}
								{% for i in pages_count_list %}
								<li><a href="" class="{% if i == page %} currentpage__selected {% endif %}">{{ i }}</a></li>
								{% endfor %}
							{% else %}
								{% for i in (1, 2, 3, 4) %}
								<li><a href="" class="{% if i == page %} currentpage__selected {% endif %}">{{ i }}</a></li>
								{% endfor %}
								<li>...</li>
								<li><a href="" class="">{{ pages_count_list[-1] }}</a></li>
							{% endif %}
						{% else %}
							<li><a href="" class="">{{ 1 }}</a></li>
							<li>...</li>
							<li><a href="" class="">{{ page - 1 }}</a></li>
							<li><a href="" class="currentpage__selected">{{ page }}</a></li>
							{% if page + 4 <= pages_count %}
							<li><a href="" class="">{{ page + 1 }}</a></li>
							<li>...</li>
							<li><a href="" class="">{{ pages_count_list[-1] }}</a></li>
							{% elif page + 3 == pages_count %}
							<li><a href="" class="">{{ page + 1 }}</a></li>
							<li><a href="" class="">{{ page + 2 }}</a></li>
							<li><a href="" class="">{{ pages_count_list[-1] }}</a></li>
							{% elif page + 2 == pages_count %}
							<li><a href="" class="">{{ page + 1 }}</a></li>
							<li><a href="" class="">{{ page + 2 }}</a></li>
							{% elif page + 1 == pages_count %}
							<li><a href="" class="">{{ page + 1 }}</a></li>
							{% endif %}
						{% endif %}
						</ul>
						<button class="next-page" {% if page == pages_count %} style="display: none;" {% endif %}>{{ conf['pagination']['next'] }}</button>
					{% endif %}
				</div>
			</div>
		</main>
{% endblock main %}