<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popups</title>
    <link rel="stylesheet" href="static/styles/css/global.css" />
  </head>
  <body>
    <main class="content">
      <div class="reg-container">
        <div class="popups-container">
          <div class="popup">
            <form class="popup__body">
              <img src="static/media/ChinaNearLogo.svg" alt="" />
              <span class="popup__line"></span>
              <span class="popup__aht">Ахтунг если пароли не совпадают..!</span>
              <div class="popup__inputs">
                <input class="popup__input" type="email" name="" id="" />
                <span class="popup__input-text">Login</span>
              </div>
              <div class="popup__inputs">
                <input class="popup__input" type="password" name="" id="" />
                <img class="passvis" src="static/media/passw.svg" alt="" />
                <span class="popup__input-text">Password</span>
              </div>
              <div class="popup__links">
                <a href="#">Забыли пароль?</a>
                <a href="#">Зарегистрироваться</a>
              </div>
              <button class="popup__btn">Войти</button>
            </form>
            <form class="popup__body">
              <span class="popup__title">Подтверждение e-mail</span>
              <span class="popup__line"></span>
              <span class="popup__text">
                На адрес электронной почты
                <span class="popup__email">username@domain.ru</span> будет
                отправленно письмо со ссылкой для подтверждения e-mail.
                Перейдите по ссылке из письма, чтобы подтвердить e-mail.
              </span>
              <span class="popup__info"
                >Повторный запрос возможен через 54 сек.</span
              >
              <button class="popup__btn">Отпарвить</button>
            </form>
            <form class="popup__body">
              <span class="popup__title">Восстановление пароля</span>
              <span class="popup__line"></span>
              <span class="popup__text">
                Введите адрес электронной почты. На указанный адрес будет
                отправленно письмо со ссылкой для восстановления пароля.
              </span>
              <div class="popup__inputs">
                <input class="popup__input" type="email" name="" id="" />
                <span class="popup__input-text">E-mail</span>
              </div>
              <span class="popup__info"
                >Повторный запрос возможен через 54 сек.</span
              >
              <button class="popup__btn">Отправить</button>
            </form>
            <form class="popup__body">
              <span class="popup__text">
                На адрес
                <span class="popup__email">username@domain.ru</span> отправлено
                письмосо ссылкой для восстановления пароля. Проверьте почтовый
                ящик и перейдите по ссылке из письма.
              </span>
              <button class="popup__btn">Закрыть</button>
            </form>
            <form class="popup__body">
              <span class="popup__text">
                На адрес
                <span class="popup__email">username@domain.ru</span> отправлено
                письмосо ссылкой для восстановления e-mail. Проверьте почтовый
                ящик и перейдите по ссылке из письма.
              </span>
              <button class="popup__btn">Закрыть</button>
            </form>
            <form class="popup__body">
              <span class="popup__title">Задайте новый пароль</span>
              <span class="popup__line"></span>
              <div class="popup__inputs">
                <input class="popup__input" type="password" name="" id="" />
                <img class="passvis" src="static/media/passw.svg" alt="" />
                <span class="popup__input-text">Введите новый пароль</span>
              </div>
              <span class="popup__input-info">
                Пароль должен быть не менее 8 символов и содержать комбинацию
                строчных, заглавных букв и минимум одну цифру.
              </span>
              <div class="popup__inputs">
                <input class="popup__input" type="password" name="" id="" />
                <img class="passvis" src="static/media/passw.svg" alt="" />
                <span class="popup__input-text">Подтвердите новый пароль</span>
              </div>
              <span class="popup__aht">Ахтунг если пароли не совпадают..!</span>
              <button class="popup__btn">Сохранить</button>
            </form>
            <form class="popup__body">
              <span class="popup__text"> Пароль успешно изменен. </span>
              <button class="popup__btn">Закрыть</button>
            </form>
            <form class="popup__body">
              <span class="popup__text"> E-mail подтвержден. </span>
              <button class="popup__btn">Закрыть</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer cart-footer">
      <div class="container">
        <div class="footer__body">
          <h4>Не является публичной офертой. (С) Evil Tech, 2022 г.</h4>
        </div>
      </div>
    </footer>
  </body>
</html>
