main{
	padding: 36px 0;
}
.poisk{
	font-size: 14px;
	color: #BDBDBD;
	padding:  0 15px;
	width: 420px;
	height: 40px;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	display: flex;
	align-items: center;
	margin-left: 15px;
}
.input-poisk{
	height: 100%;
	width: 95%;
	border: none;
	font-size: 14px;
	outline: none;
}
.currentpage__selected {
	padding: 0.1rem 0.35rem;
	background: #428BCA;
	color: #ffffff;
	border-radius: 0.2rem;
	width: 0.7rem;
	height: 0.7rem;
}
main hr{
	margin: 29px 0 16px;
}
main h1{
	color: #424242;
	font-size: 32px;
	font-weight: 600;
}
.name-seller-product-list{
	display: flex;
	gap: 15px;
	padding: 0 15px;
	justify-content: space-between;
}
.name-seller-product-list button{
	color: white;
	width: 190px;
	height: 40px;
	background: #FF9B00;
	font-size: 14px;
	border: none;
}
.diller{
	display: flex;
	flex-flow: row;
	align-items: center;
	font-size: 16px;
	gap: 16px;
	padding: 0 15px;
}
.diller p{
	color: #9E9E9E;
}
.diller a{
	color: #428BCA;
}
.diller span{
	color: #616161;
}
.diller hr{
	margin: 0 ;
	height: 24px;
    width: 1px;
    border: none;
    color: black;
    background-color: black;
}
.filter{
	padding: 0 15px;
	display: flex;
	font-size: 14px;
	gap: 20px;
	justify-content: start;
	margin-top: 32px;
    flex-wrap: wrap;
}
.filter_1{
	display: flex;
	align-items: center;
	gap: 8px;
}
.filter_1 p{
	color: #616161;
}
.filter_1 button{
	height: 32px;
	padding: 0 12px;
	background-color: white;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	color: #428BCA;
}
.buttons{
	display: flex;
	margin-left: 8px;
	gap: 16px;
}
.buttons button{
	border: none;
	background-color: white;
	padding: 8px 16px;
	color: #428BCA;
	font-size: 12px;
}
.buttons button:nth-child(1) {
	border: 1px solid #428BCA;
	font-weight: bold;
	border-radius: 2px;
}
.action{
	margin-top: 32px;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	color: #616161;
}
.action-bottom{
	margin-top: 32px;
	display: flex;
	font-size: 14px;
	justify-content: end;
	align-items: center;
	padding-right: 15px;
	color: #616161;
}
.col{
	display: flex;
	align-items: center;
}
.page{
	display: flex;
	align-items: center;
	gap: 16px;
}
.b-action{
	padding: 8px 16px;
	font-size: 12px;
	font-weight: 700;
	color: white;
	background: #428BCA;
	border: none;
	border-radius: 2px;
}
.page button{
	border: none;
	background-color: white;
	color: #428BCA;
}
.col{
	display: flex;
	gap: 12px;
}
.col a{
	padding: 2px;
}
.table_product{
	margin-top: 16px;
}
table {
   width: 100%;
   font-size: 12px;
   border: 0;
   cellspacing: 0;
   border-collapse: collapse; 
   cellpadding: 0;
}
tr{
	min-height: 40px;
	height: 100%;
	padding: 0 15px;
  	border-bottom: 1px solid black;
}
th {
	background: #EEEEEE;
	padding: 15px 0;
	text-align: left;
}
th:nth-child(1),td:nth-child(1){
	padding-left: 24px;
}
th:nth-child(1), th:nth-child(5), td:nth-child(1), td:nth-child(7){
	text-align: center;
}
th:nth-child(2){

	text-align: space-between;
}
td:nth-child(3){
	width: 450px;
	min-width: 250px;
}
td:nth-child(3) p{
	margin-bottom: 10px;
}
th:nth-child(3),td:nth-child(4){
 	padding-right: 10px;
 	padding-left: 32px;
}
td:nth-child(6){
	text-align: -webkit-center;
}

td:nth-child(7){
	font-size: 14px;
	font-weight: 700;
	white-space: nowrap;
}
td:nth-child(8) button{
	border: 0;
	background-color: white;
}
td:nth-child(8){
	padding: 0 20px;
}
table input{
	width: 50px;
}
table img{
	max-height: 64px;
	margin: 8px 0;
}
.status{
	width: 120px;
	height: 26px;
	background: #B4CD0F;
	color: white;
	font-weight: 700;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown-content-left {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-left a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

.table_product{
	width: 100%;
 	overflow-x: auto;
 	overflow-y: hidden;
 	padding-bottom: 153px;
}
.table_product table thead th .text{
	position:absolute;   
  	top:-20px;
  	z-index:2;
  	height:20px;
 	width:35%
}
.filter_1{
	display: flex;
	align-items: center;
	gap: 8px;
}
.filter_1 p{
	color: #616161;
	white-space: nowrap;
}
.filter1{
	display: flex;
	align-items: center;
	gap: 8px;
}
.filter1 p{
	color: #616161;
}
.filter1 select{
	max-width: 138px;
	height: 32px;
	padding: 0 12px;
	outline: none;
	background-color: white;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	color: #428BCA;
}
.filter_1 select{
	height: 32px;
	color: #428BCA;
	outline: none;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	padding: 6px 12px;
	font-size: 14px;
}
.three_point{
	min-width: 6px;
	min-height: 18px;
	background-image: url(/static/img/three_point.svg);
}
.table_product .dropdown-content{
	margin-top: 0;
}
main h2{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 400;
    color: #BDBDBD;
    margin-top: 120px;
}
@media(max-width: 1200px){
	.filter{
		flex-flow: column;
	}
	.filter_1 select{
		max-width: 200px;
	}
}
@media(max-width: 992px){
	td{
		padding: 10px 5px;
	}
	.filter{
		flex-flow: column;
	}
	.buttons{
		margin: 0;
	}
	.filter_1 option{
		padding: 15px 0;
		width: inherit;
	}
	
	
}
@media(max-width: 776px){
	.poisk{
		width: 90%;
		margin: 0 auto;
	}
	.name-seller-product-list{
		display: flex;
		flex-flow: column;
	}
	.table_product{
		width: 100%;
	 	overflow-x: auto;
	 	overflow-y: hidden;
	 	padding-bottom: 125px;
	}
}